Flask==2.3.2
requests==2.31.0
textblob==0.17.1
pillow==10.0.0
gunicorn==20.1.0  # Optional, only if deploying using Gunicorn
pymongo==4.4.0  # For connecting to MongoDB
cloudinary==1.29.0  # Required for uploading files to Cloudinary
werkzeug==2.3.7  # For secure file handling with secure_filename
Flask==2.3.2
pymongo==4.1.1
cloudinary==1.29.0
docx2pdf==0.1.8
PyPDF2==3.0.1
python-docx==0.8.11
textract==1.6.5
langchain_community==0.0.6
langchain_text_splitters==0.0.3
pypdf==3.8.1
langchain-openai==0.0.3  # Replace with the correct version if needed
langchain
openai
langchain-groq
tensorflow
transformers==4.6.0
sklearn
nlkt
