Flask
requests
textblob
pillow
gunicorn  # Optional, only if deploying using Gunicorn
pymongo  # For connecting to MongoDB
cloudinary  # Required for uploading files to Cloudinary
werkzeug # For secure file handling with secure_filename
langchain_community
langchain_text_splitters
langchain-openai==0.0.3  # Replace with the correct version if needed
langchain
openai
langchain-groq
tensorflow
transformers
sklearn
nlkt
